
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Hanken+Grotesk:ital,wght@0,700;0,800;1,500&family=Outfit:wght@300;400;600;700&family=Playfair+Display:ital,wght@1,500&family=Roboto&family=Roboto+Mono&family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');


body {
  margin: 0;
font-family: 'Barlow Semi Condensed', sans-serif;;
}


@media (min-width:200px) and (max-width:768px){

  .picked-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .you-picked{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: 9em;
    position: relative;
    right: 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .the-house-picked{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
    bottom: 13em;
    
    left: 12em;
    text-align: center;
  }
  .house-h1{
    font-size: 1em;
    position: relative;
    right : 6em;
    top: 9em;
  }
  .svg-postion{
    position: relative;
    right: 13em;
  }
  
.you-h1{
  position: relative;
  left: -6em;
  font-size: 1em;
  top: 9em;
}
.win{
  position: relative;
  font-weight: 900;
  color: #fff;
  top: 5em;
}
.btn-play-again{
color: #1d3050;  
font-weight: 600;
  width: 10em;
  background-color: #fff;
  height: 2em;
  position: relative;
  top: 7em;
  border: none;
  border-radius: 5px;
}
button:hover{
  color: red;
}
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .step1{
    width: 23em;
    flex-direction: column;
    height: 47em;
    background-color: #1d3050;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
  }
  .score-continar{
    width: 20em;
    padding: 1em;
    justify-content: space-between;
    display: flex;
    gap: 3em;
    position: relative;
    top: 2em;
    bottom: 0em;
    align-items: center;
    border-radius: 5px;
    border: 3px solid #5c7089;
    height: 5.5em;
  }
  .continar-RPS{
    font-weight: 900;
    word-wrap: break-word;
    color: #fff;
    text-align: start;
}
.continar-score-num{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 5em;
  height: 4em;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  justify-content: center;
}
h6{
  color: #94a6fc;
  text-align: center;
}
.number-score{
  color: #575469;
  text-align: center  ;
}
.button-ruels{
  width: 8em;
  height: 3em;
  border-radius: 5px;
  color: #fff;
  background-color: #1d3050;
  border: 1px solid #fff;
}
.ruels-continar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-close{
  border: none;
  font-size: 3rem;
  color: silver;
  position: relative;
  bottom: 2em;
  background-color:#fff;
}
.btn-rock{
  position: relative;
  bottom: 8.3em;
  right: 8em;
  height: 36%;
  border-radius: 50%;
  z-index:  1;
  opacity: 0;
  
  border: none;
  width: 32%;
}
.btn-scissors{
  position: relative;
  opacity: 0;
  bottom: 20.3em;
  height: 36%;
  border-radius: 50%;
  z-index: 1;
  left: 7.2em;
  border: none;
  
  width: 32%;
}
.btn-paper{
  position: relative;
  opacity: 0;
  bottom: 20.3em;
  height: 36%;
  border-radius: 50%;
  z-index: 1;

  border: none;
  left: 2%;
  cursor: pointer;
  width: 32%;
}

}
@media (min-width:768px) and (max-width:1600px){


  .svg-postion{
    position: relative;
    bottom: 0em;
    left: -6em;
    

  }  .svg-paper{
    position: relative;
    bottom: 0em;
    left: 6em;
    

  }
  .svg-rock{
    position: relative;
    bottom: 10em;
    left: 0em;
    

  }
  span{
    width: 0;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Barlow Semi Condensed', sans-serif;;
  }
  
  .step1{
    min-width: 82em;
    width: 100%;
    flex-direction: column;
    height: 40em;
    background-color: #1d3050;
    display: flex;
    justify-content: space-around;
    
    align-items: center;
  }
  .score-continar{
    width: 44em;
    justify-content: space-around;
    display: flex;
    gap: 26em;
    position: relative;
    /* bottom: 2em; */
    align-items: center;
    border-radius: 5px;
    border: 3px solid #5c7089;
    height: 8em;
  }
  .continar-RPS{
    font-weight: 1000;
    word-wrap: break-word;
    font-size: 1.5em;
    color: #fff;
    text-align: start;
}

.continar-score-num{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 6em;
  height: 6em;
  align-items: center;
  border-radius: 5px;
  background-color: #fff;
  justify-content: space-evenly;
}
h6{
  color: #94a6fc;
  text-align: center;
}
.number-score{
  color: #575469;
  font-size: 3em;
  text-align: center;
}
.button-ruels{
  width: 8em;
  height: 3em;
  border-radius: 5px;
  color: #fff;
  background-color: #1d3050;
  border: 1px solid #fff;
  position: relative;
  left: 43em;
}
.ruels-continar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-ruels{
  height: 35em;
}
.btn-close{
  border: none;
  font-size: 2rem;
  color: silver;
  position: relative;
  bottom: 2em;
  background-color:#fff;
}
.btn-rock{
  position: relative;
  bottom: 8.3em;
  right: 8em;

  height: 36%;
  border-radius: 50%;
  z-index: 1;
  border: none;
  opacity: 0;
  width: 32%;
}
.btn-scissors{
  position: relative;
  bottom: 20.3em;
  height: 36%;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  left: 7.2em;
  
  border: none;
  width: 32%;
}
.btn-paper{
  position: relative;
  bottom: 20.3em;
  opacity: 0;
  height: 36%;
  border-radius: 50%;
  z-index: 1;
  border: none;
  left: 2%;
  
  width: 32%;
}
.my-container-class{
  width: 100%;
  height: 40em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picked-container{
  display: flex;
  justify-content: space-between;
  height: 40%;

  align-items: center;
  gap: 10em;
}
.you-picked{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
  gap: 2em;
  top: 3em;
}
.the-house-picked{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative;
  gap: 2em;
  top: 3em;
}

h1{
    font-size: 1.2em;
    font-weight: 300;
}
.result{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
}

.win{
  font-size: 3em;
  font-weight: 900;
  color: #fff;
}
.btn-play-again{
color: #1d3050;  
font-weight: 600;
  width: 10em;
  background-color: #fff;
  height: 2em;
  border: none;
  border-radius: 5px;
}
button:hover{
  color: red;
}
}
